<!-- app/views/users/new.html.erb -->

<p>Get started with Joiner!</p>
<p class="h5">Annual</p>
<a href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="joiner--individual-annual" class="btn btn-primary">Individual ($47 per month)</a>
<a href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="joiner--team-annual" class="btn btn-success">Team ($227 per month)</a>
<br /><br />
<p class="h5">Monthly</p>
<p>Annual subscriptions come with a month free. Click below for monthly instead.</p>
<a href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="joiner---mini" class="btn btn-link">Individual</a>
<a href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="joiner--team" class="btn btn-link">Team</a>