<!-- app/views/users/new.html.erb -->

<p>Get started with Joiner!</p>
<a href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="joiner---beta" class="btn btn-primary">Starter (Free!)</a>
<a href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="joiner---mini" class="btn btn-success">Pro ($57 per month, 14 day free trial)</a>
<a href="mailto:michael@getjoiner.com" class="btn btn-success">Enterprise (Contact Us)</a>
