<!-- app/views/users/new.html.erb -->

<p>Enter the password you want to use</p>
  <%= form_for @user, class: 'form-horizontal center' do |f| %>
    <p>
      Password: <%= f.password_field :password, class: "form-input" %>
      Password Confirmation: <%= f.password_field :password_confirmation, class: "form-input" %>
    </p>
    <%= f.submit "Submit", class: "btn btn-success" %>

  <% end %>