    <% if join_db.provisioning? %><b>Status:</b> <%= join_db.status %><% end %>
    <ul>
        <div class="tile tile-centered"><b>Host:</b> <%= join_db.host %></div>
        <div class="tile tile-centered"><b>Port:</b> <%= join_db.port %></div>
        <div class="tile tile-centered"><b>DB Type:</b> PostgreSQL</div>
        <div class="tile tile-centered"><b>Username:</b> <%= join_db.username %></div>
        <div class="tile tile-centered"><b>Database:</b> joiner</div>
    </ul>
    <div class="popover popover-right">
        <button class="btn btn-secondary btn-sm">How to use</button>
            <div class="popover-container">
                <div class="card">
                    <div class="card-body">
                        <i>
                            Add the above credentials as a new connection in Tableau, Looker, or
                            your favorite SQL client (we like 
                            <a href="https://popsql.io" target="_blank">PopSQL</a>).
                        </i>
                    </div>
                </div>
            </div>
        </button>
    </div>
