<p>
    <% if join_db.provisioning? %><b>Status:</b> <%= join_db.status %><% end %>
    <ul>
        <li><b>Host:</b> <%= join_db.host %>
        <li><b>Port:</b> <%= join_db.port %>
        <li><b>DB Type:</b> PostgreSQL
        <li><b>Username:</b> <%= join_db.username %>
        <li><b>Database:</b> joiner
    </ul>
</p>