<%= form_for @join_db do |form| %>
    <div class="form-group">
        <%= form.label :nickname %>
        <%= form.text_field :name %>
    </div>
    <%= form.submit class: "btn btn-primary" %>
<% end %>