<h1>Edit JoinDb</h1>

<%= form_for @join_db do |form| %>
    <p>
        <%= form.label :nickname %>
        <%= form.text_field :name %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>